<div class="content">
  <form action="POST" class="login-form">
    <h1 class="login-title">Login</h1>
    <div class="login-form-inputs">
      <div class="login-input-scope">
        <input type="text" class="login-input" placeholder="CNPJ" />
        @if (error) {
          <span class="login-input-error">Um erro ocorreu</span>
        }
      </div>
      <div class="login-input-scope">
        <input type="password" class="login-input" placeholder="Senha" />
        @if (error) {
          <span class="login-input-error">Um erro ocorreu</span>
        }
      </div>
    </div>
    <button type="submit" class="login-submit-button">Entrar</button>
  </form>
</div>
