.content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-up-title {
  font-size: 24px;
  color: black;

  @media(min-width: 1010px) {
    font-size: 32px;
  }
}

.sign-up-input {
  width: calc(100% - 10px);
  height: 32px;
  background-color: #eee;
  border-radius: 2px;
  padding-left: 10px;
}

.sign-up-input-date {
  width: calc(100% - 20px);
  height: 32px;
  background-color: #eee;
  border-radius: 2px;
  padding: 0 10px;
  cursor: pointer;
}

.sign-up-input-scope {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sign-up-input-error {
  font-size: 10px;
  color: red;
}

.sign-up-submit-button {
  width: 200px;
  height: 35px;
  border-radius: 2px;
  background-color: #82A0D8;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.sign-up-sign-up-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.sign-up-radio-input {
  display: flex;
  gap: 5px;

  & input,
  & label {
    cursor: pointer;
  }
}
